.footer {
    margin-top: 30px;
    background-color: var(--bg-color-card-footer);
    padding: 20px;
}

.footer>ul {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.footer>ul>li {
    margin-left: 10px;
}

.footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    color: var(--footer-sub-text);
}